* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Open Sans", serif;

  --background-default: #F5F4F0;
  --border-primary: #D9D9D9;

  --text-primary: #1B1B1B;
  --text-secondary: #333;
  --text-tertiary: #696969;
  --text-headline: #E1624F;

  --accent-blue: #0C51A7;
  --accent-orange: #E95E10;
  --accent-pink: #E5245E;
  --accent-purple: #591B98;
}

body {
  font-family: var(--font);
  background-color: var(--background-default);
}

#page {
  width: 1120px;
  margin: 88px auto 136px; 
}

.headline {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-headline);
}

.title {
  margin: 8px 0 40px;
  font-size: 36px;
  font-weight: 700;
  color: var(--text-primary);
}

figure img {
  border-radius: 28px;
}

figure figcaption {
  margin: 24px 0 44px;
  font-style: italic;
  text-align: center;
  color: var(--text-secondary);
}